POSTGRES_USER=atlestismo
POSTGRES_PASSWORD=atlestismo
POSTGRES_DB=atlestismo
POSTGRES_PORT=5432
ADMINER_PORT=8080

# App DB connection (host -> docker)
DATABASE_URL=postgres://atlestismo:atlestismo@localhost:5432/atlestismo
REQUIRE_DB=true
SESSION_SECRET=change-me
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change-me
GCP_PROJECT_ID=your-gcp-project-id
GCP_BUCKET=your-bucket-name
