@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700;800;900&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-headline: "Lexend", ui-sans-serif, system-ui, sans-serif;
  --font-body: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;

  --color-surface: #ddffe2;
  --color-surface-container-low: #cafdd4;
  --color-surface-container-high: #b5f0c2;
  --color-surface-container-highest: #acecbb;
  --color-on-surface: #0b361d;
  --color-on-surface-variant: #3b6447;
  
  --color-primary: #006b1b;
  --color-primary-container: #9bfc96;
  --color-on-primary-container: #006218;
  --color-on-primary: #d1ffc8;
  
  --color-secondary: #6c5a00;
  --color-secondary-container: #fdd835;
  --color-on-secondary-container: #5b4b00;
  
  --color-tertiary: #4252b4;
  --color-tertiary-container: #9fabff;
  --color-on-tertiary-container: #0e2288;

  --color-inverse-surface: #001205;
}

@layer base {
  body {
    @apply font-body text-on-surface bg-white;
  }
}

@layer utilities {
  .kinetic-slant {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
  .speed-slant {
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  }
  .glass {
    @apply bg-surface/80 backdrop-blur-xl;
  }
}
