@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;700;800;900&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-headline: "Lexend", ui-sans-serif, system-ui, sans-serif;
  --font-body: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --font-label: "Lexend", ui-sans-serif, system-ui, sans-serif;

  --color-secondary: #6c5a00;
  --color-surface-variant: #acecbb;
  --color-surface-container-low: #cafdd4;
  --color-surface-container-lowest: #ffffff;
  --color-tertiary-dim: #3646a8;
  --color-on-tertiary-container: #0e2288;
  --color-on-background: #0b361d;
  --color-surface-tint: #006b1b;
  --color-primary-dim: #005d16;
  --color-on-primary-container: #006218;
  --color-primary-container: #9bfc96;
  --color-on-primary: #d1ffc8;
  --color-secondary-container: #fdd835;
  --color-on-primary-fixed: #004d11;
  --color-outline-variant: #8bb795;
  --color-on-primary-fixed-variant: #006d1c;
  --color-on-tertiary-fixed-variant: #1b2d90;
  --color-tertiary-container: #9fabff;
  --color-on-secondary-fixed-variant: #665500;
  --color-surface-dim: #a0e4b1;
  --color-on-error-container: #520c00;
  --color-surface-bright: #ddffe2;
  --color-on-secondary-fixed: #453900;
  --color-primary-fixed-dim: #8ded89;
  --color-error: #b02500;
  --color-on-secondary: #fff2cd;
  --color-inverse-surface: #001205;
  --color-surface-container: #bef5ca;
  --color-on-surface: #0b361d;
  --color-surface-container-high: #b5f0c2;
  --color-on-error: #ffefec;
  --color-surface-container-highest: #acecbb;
  --color-inverse-primary: #9bfc96;
  --color-on-secondary-container: #5b4b00;
  --color-surface: #ddffe2;
  --color-on-tertiary: #f3f1ff;
  --color-primary: #006b1b;
  --color-error-container: #f95630;
  --color-tertiary-fixed-dim: #8d9cff;
  --color-secondary-dim: #5f4e00;
  --color-secondary-fixed: #fdd835;
  --color-inverse-on-surface: #7ca785;
  --color-tertiary-fixed: #9fabff;
  --color-on-tertiary-fixed: #000c54;
  --color-primary-fixed: #9bfc96;
  --color-secondary-fixed-dim: #eeca24;
  --color-tertiary: #4252b4;
  --color-error-dim: #b92902;
  --color-outline: #568061;
  --color-on-surface-variant: #3b6447;
  --color-background: #ddffe2;

  --radius-full: 0.75rem;
  --radius-xl: 0.5rem;
  --radius-lg: 0.25rem;
}

@layer utilities {
  .slanted-edge {
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
  }
  .kinetic-slant {
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
  }
  .text-outline {
    -webkit-text-stroke: 1px currentColor;
    -webkit-text-fill-color: transparent;
  }
}

body {
  @apply bg-surface font-body text-on-surface selection:bg-primary-container;
}
